.quotes { display: none; }
#ck_title { display: none; }

.os-animation {
  opacity: 1;
}
.os-animation.animated {
  opacity: 1;
}

/* - Text aligns classes - */
.text-left {
  text-align: center !important;
}

.media-clear {
	clear: both;
}